.main{
    padding: 0 40px;
}

.card_section{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    font-size: 20px;
    font-family: "Cabinet Grotesk", Arial, sans-serif;
    font-weight: 700;
    }
    
    .card_name{
    text-align: center;
    font-family: "Cabinet Grotesk", Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    }
    
    .card_image{
        width: 325px;
        height:328px;
        border-radius: 10px;
    }
    
    .card_items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 34px;
    }