.modal__content-item{
display: flex;
flex-direction: row;
position: relative;
width: 670px;
height: 368px;
background-color: white;
font-weight: 700;
font-family: "Cabinet Grotesk", Arial, sans-serif;
padding: 20px 20px;
border-radius: 20px;
}
.modal__button-close{
border: none;
background-image: url(../../images/close.svg);
background-size: contain;
background-repeat: no-repeat;
width: 20px;
height: 20px;
position: absolute;
right: 20px;
top: 20px;
}

.modal__button-close:hover{
    cursor: pointer;
    opacity: .6;
}

.modal__item-weather{
    font-weight: 700;
    font-family: "Cabinet Grotesk", Arial, sans-serif;
    font-size: 20px;
font-weight: 700;
line-height: 1.2;
margin-top: 10px;
padding-left: 28px;
}

.modal__item-name{
/* position: relative; */
font-size: 16px;
font-weight: 700;
font-family: "Cabinet Grotesk", Arial, sans-serif;
position: absolute;
margin-left: 156px;
margin-top: 17px;
background-color: #fff;
}

.modal__item-image{
border-radius: 20px;

/* position: absolute; */
}

.modal__item-container{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: baseline;
}

.modal__button-delete{
border: none;
}