/* .weather{
    position: relative;
}

.weather_info{
    position: absolute;
    top: 20px;
    left: 16px;
    color:white;
    font-size: 36px; 
}

.weather_image{
    width: 100%;
} */



.page{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.modal__select{
font-family: "Cabinet Grotesk", Arial, sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 1.2;
}

.modal__select-name{
    font-family: "Cabinet Grotesk", Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}
.modal__select-link{
    font-family: "Cabinet Grotesk", Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
}
.modal__box-text{
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    width: 100%;
    margin-top: 8px;
}

.modal__text-box{
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 24px;
    padding: 0;
}

.modal__select-radio{
    font-family: "Cabinet Grotesk", Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
}

.modal__select-hot{
margin-bottom: 8px;
}

.modal__select-warm{
margin-bottom: 8px;
}

.modal__select-cold{
margin-bottom: 32px;
}